* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* position: relative; */
    background-color: rgb(172, 164, 164);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3e6e6;
    width: 100%;
    /* overflow-x: hidden; */
    /* padding: 10px; */
    padding: 0;
    margin: 0;
}

#header {
    /* position: relative; */
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-top {
    display: flex;
    background-color: #131921;
    padding: 10px;
    height: 99px;
    max-height: 60px;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    z-index: 999;
}

.nav-top-left {
    display: flex;
    width: 25%;
    max-width: 450px;
    /* border: 1px solid white; */
}

.logo {
    /* display: block; */
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 120px;
    /* height: 99px; */
    margin-right: 2px;
    padding: 10px;
}

.logo:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.logo span {
    position: absolute;
    top: 12px;
    /* right:px; */
}

.logo a img {
    width: 90%;
    max-width: 96px;
    color: white;
}

.nav-address {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-address:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.nav-address i {
    margin: 0 5px;
}

.nav-address div {
    width: 100%;
}


.nav-small-text {
    display: block;
    font-size: 12px;
}

.nav-large-text {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.nav-top-middle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%;
    max-height: 45px;
    /* border: 1px solid white; */
}

.nav-top-middle select {
    width: 60px;
    height: 45px;
    border-radius: 5px 0 0 5px;
    outline-style: none;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
}

.nav-top-middle input {
    border: 1px solid #fff;
    width: 80%;
    height: 45px;
    outline-style: none;
}

.nav-top-middle button {
    border: 1px solid #febd69;
    outline-style: none;
    width: 50px;
    height: 45px;
    border-radius: 0 5px 5px 0;
    background-color: #febd69;
}

.nav-top-middle button i {
    font-size: 25px;
}

.nav-top-right {
    margin: 0;
    /* border: 1px solid saddlebrown; */
    display: flex;
    width: 25%;
    justify-content: flex-start;
    align-items: center;
}

.nav-top-right .lang {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 80px;
    max-width: 80px;
}

.nav-top-right .lang:hover {
    border: 1px solid white;
    border-radius: 3px;

}

.nav-top-right .lang img {
    width: 40%;
}

.nav-top-right .lang select {
    width: 60%;
    height: 50%;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
}

.nav-top-right .lang select option {
    background-color: #fff;
    color: #000;
}

.nav-top-right .signin {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    min-width: 135px;
    max-width: 140px;
}

.nav-top-right .signin:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.nav-top-right .signin div {
    display: flex;
}

.nav-top-right .signin div i {
    padding-left: 5px;
}

.nav-top-right .orders {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    min-width: 80px;
    max-width: 80px;
}

.nav-top-right .orders:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.nav-top-right .cart {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 50px; */
    width: 25%;
    min-width: 80px;
    max-width: 80px;
}

.nav-top-right .cart:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.nav-bottom {
    top: 60px;
    left: 0;
    position: relative;
    background-color: #232f3e;
    max-height: 49px;
    min-height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.nav-bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.nav-bottom ul li {
    list-style: none;
    margin: 0 8px;
    font-size: 15px !important;
}

.nav-bottom ul li a {
    color: white;
    text-decoration: none;
}

.nav-bottom img {
    max-width: 400px;
}

#bodySecection {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#bodySecection .sliderSection {
    width: 100vw;
    position: absolute;
    top: 109px;
}

#carouselExample button .carousel-control-prev-icon,
#carouselExample button .carousel-control-next-icon {
    position: absolute;
    bottom: 450px;
}

#products-cards-section {
    position: absolute;
    top: 360px;
    left: 0;
    width: 100vw;
    max-width: 100vw;
}

.products-cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.products-cards-grid .four-product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: #000;
    padding: 10px;
    height: 400px;
}

.products-cards-grid .four-product-card .sub-products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 5px;
}

.products-cards-grid .four-product-card .sub-products .product {
    width: 120px;
    height: auto;
    padding: 0;
    margin: 0;
    /* border: 1px solid green; */
}

.products-cards-grid .four-product-card .sub-products .product p {
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.card-header {
    font-size: 20px;
}

.products-cards-grid .four-product-card .sub-products .product img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.card-footer {
    font-size: 12px;

}

.card-footer a {
    text-decoration: none;
}

.products-cards-grid .one-products-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: #000;
    padding: 10px;
}

.products-cards-grid .one-products-card .sub-products {
    width: 100%;
    height: 270px;
    padding: 10px;
}

.products-cards-grid .one-products-card .sub-products img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signin-ads-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signin-ads-bar .signin-show {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #000;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: space-between;
}

.signin-ads-bar .signin-show button {
    width: 95%;
    background-color: #ffc737;
    border: 1px solid #ffc737;
    outline: none;
    border-radius: 8px;
    margin: 10px;
    font-size: 14px;
    padding: 5px;
}

/* slider  */

#products-slide-section {
    position: absolute;
    top: 1200px;
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    width: 1263px;
    padding: 20px;

}

.products-slide-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.products-slide-header h3 {
    font-size: 25px;
    font-weight: bolder;
    margin-right: 20px;
}

.products-slide-header a {
    font-size: 15px;
    text-decoration: none;
}

.products-slide-row {
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.products-slide-row::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* background-color: ; */
    overflow: auto;
    /* border-radius: 3px; */
}

.products-slide-row::-webkit-scrollbar-thumb {
    background-color: #e7e5e5;
    border-radius: 5px;
    width: 50%;
}

.products-slide-product {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    /* height: 280px; */
    /* border: 1px solid black; */
}

.product-slide-image {
    background-color: #e7e5e5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-slide-product .product-slide-image img {
    /* width: 100%; */
    height: 200px;
    object-fit: contain;
    margin: 10px;

}

.products-slide-product .product-info .offer-details {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-btn {
    background-color: rgb(179, 10, 10);
    color: white;
    border-radius: 3px;
    padding: 4px 5px;
    font-size: 15px;
    font-weight: bold;
}

.offer-ends-in {
    color: rgb(179, 10, 10);
    font-size: 15px;
    font-weight: bold;
}

.product-desc {
    font-size: 15px;
}